<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
<center>
<img src="/assets/lasrtaglogo.png" alt = " " />
</center> </br>
<div class="center hero-unit">

	<center>

		<h1>What do you want to be known for?</h1>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</center>
</div>


<div class="row">

	<div class="span4">
	    <center><img src="/assets/twitterbird.png" alt=" " />
	      <h4>Lasrtag Followers</h4>
	      <p>Tag your followers to the topics</p>
	    </center>
  	</div><!-- span -->

 	<div class="span4">
		<center><img src="/assets/target.png" alt=" " /> </br>
	      <h4>Target Twitter</h4>
	      <p>View your Twitter feed by targeted topics</p>
	    </center>
 	</div><!-- span -->

    <div class="span4">
	    <center><img src="/assets/trophy.png" alt=" " /> </br>
	      <h4>Game On</h4>
	      <p>Be known for knowing a topic</p>
	    </center>
  	</div><!-- span -->
</div>
<% end %>